<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>项目合作</title>
		<link rel="Shortcut Icon" type="image/x-icon" href="__STATIC__/Home/img/fanxiang.ico" />
	</head>
	<style>
		*{ margin: 0; padding: 0; }
		body{ overflow-x: hidden; }
		a{ text-decoration: none; }
		img{ width: 1920px; position: relative; left: 50%; margin-left: -960px; border: none; }
		.ruzhubtn{ width: 216px; height: 62px; line-height: 60px; border-radius: 10px; background: #fe9700; color: #fff; font-size: 30px; letter-spacing: 5px; position: absolute; top: 14px; left: 50%; margin-left: 384px; cursor: pointer; z-index: 222; font-weight: bold; text-align: center; }
	</style>
	<body>
		<a href="javascript:;" class="ruzhubtn">品牌入驻</a>
		<img src="__STATIC__/Home/img/xiangmu.jpg" />
	</body>
</html>
