[v-cloak]{ visibility: hidden; }
p,span,div{ cursor: default; }


/*内容部分样式*/
#content{ width: 1200px; margin: 20px auto; }
#content .describe{ background: #fff; border-radius: 10px; }
#content .describe>.title{ width: 100%; height: 100px; background: url(../img/yxxm/detail-title.png)no-repeat 0 40px; position: relative; }
#content .describe>.title h5{ position: absolute; top: 43px; left: 76px; font-size: 22px; color: #009151; line-height: 22px; }
#content .describe>.title h5 span{ line-height: 25px; font-size: 14px; float: right; color: #9f9f9f; margin-left: 13px; }
#content .describe>.title div{ float: right; font-size: 14px; margin: 30px 40px 0 0; color: #4f4f4f; }
#content .describe>.title div span{ color: #ff672b; }
/*上边图文部分*/
/*图片轮播部分样式*/
.describe .img-text{ width: 100%; height: auto; overflow: hidden; padding: 40px; box-sizing: border-box; }
.describe .img-text .zhanshiimg{ width: 400px; height: 410px; float: left; overflow: hidden; }
.describe .img-text .zhanshiimg .bigimgbox{ width: 100%; height: 322px; margin-bottom: 10px; position: relative; }
.describe .img-text .zhanshiimg .bigimgbox .header-box{ width: 132px; height: 132px; z-index: 2; padding: 15px; position: absolute; top: 88px; left: 119px; background: url(../img/yxxm/header-bg.png)no-repeat; }
.describe .img-text .zhanshiimg .bigimgbox .header-box img{ width: 100%; height: 100%; border-radius: 50%; }
.describe .img-text .zhanshiimg .smallimgbox{ width: 100%; height: 70px; }
.describe .img-text .zhanshiimg .smallimgbox .swiper-slide{ width: 70px; height: 70px; box-sizing: border-box; border: 2px solid #fff; }
.describe .img-text .zhanshiimg .smallimgbox .swiper-slide.swiper-slide-thumb-active{ border-color: #12C173; }
.describe .img-text .zhanshiimg .swiper-wrapper>div img{ width: 100%; height: 100%; }
/*文字样式*/
.zhanshitext{ width: 680px; height: 410px; float: right; }
.zhanshitext>div, .zhanshitext>p{ float: left; width: 100%; font-size: 14px; line-height: 14px; color: #6c6c6c; margin-bottom: 22px; }
.zhanshitext .title{ line-height: 60px; border-bottom: 1px solid #f2f2f4; font-weight: bold; margin-bottom: 30px; font-size: 26px; color: #424242; }
.zhanshitext .title span{ font-size: 18px; font-weight: lighter; margin-left: 12px; }
.zhanshitext .comment{ line-height: 20px; }
.zhanshitext .comment .star-box{ float: left; width: 154px; height: 19px; position: relative; margin-right: 35px; }
.zhanshitext .comment .noactive, .zhanshitext .comment .active{ position: absolute; top: 0; left: 0; }
.zhanshitext .comment .noactive{ width: 154px; height: 19px; background: url(../img/star1.png); }
.zhanshitext .comment .active{ height: 19px; background: url(../img/star2.png); }
.zhanshitext .comment span{ float: left; margin-left: 25px; }
.zhanshitext .joinmoney span a{ color: #ff6c2b; font-weight: bold; margin-right: 25px; }
.zhanshitext p>a{ color: #424242; font-weight: bold; }
.zhanshitext .shoucangnum{ color: #424242; line-height: 19px; }
.zhanshitext .shoucangnum img{ float: left; margin-right: 8px; }
.zhanshitext .btn-group p, .zhanshitext .btn-group .dianping{ float: left; width: 130px; line-height: 36px; font-size: 18px; color: #fff; margin-right: 24px; cursor: pointer; border-radius: 4px; text-align: center; background: #FF672B; }
.zhanshitext .btn-group p:first-child{ background: #12C173; }
.zhanshitext .btn-group p:first-child img{ float: left; position: relative; left: 30px; top: 9px; }
.zhanshitext .btn-group .dianping{ border: 1px solid #ff4800; box-sizing: border-box; color: #FF4800; border-radius: 15px; background: #fff; }
.zhanshitext .btn-group .dianping img{ float: left; position: relative; top: 12px; left: 30px; }


/*下半部分样式*/
.bottom-content{ width: 100%; height: auto; background: #fff; border-radius: 10px; overflow: hidden; position: relative; margin-top: 20px; }
.bottom-content .select-list{ position: absolute; left: 176px; top: 44px; }
.bottom-content .selectpage-btn{ width: 100%; height: 50px; border-bottom: 1px solid #f2f2f2; }
.bottom-content .selectpage-btn li{ cursor: pointer; float: left; width: 110px; margin: 0 22px; box-sizing: border-box; line-height: 50px; text-align: center; }
.bottom-content .selectpages{ width: 100%; min-height: 100px; padding: 0 40px; box-sizing: border-box; }

/*品牌点评样式*/
.dianping-page{ width: 100%; height: auto; padding: 40px 0; }
.dianping-page .reviews-btn{ width: 100%; height: 36px; overflow: hidden; }
.dianping-page .reviews-btn p{ float: left; margin-right: 20px; width: 130px; line-height: 36px; background: #f2f2f2; border-radius: 4px; text-align: center; cursor: pointer; font-size: 14px; color: #6d6d6d; }
.dianping-page .reviews-btn p:hover, .dianping-page .reviews-btn p.active{ background: #fe9b12; color: #fff; }
.dianping-page .reviews-content>li{ overflow: hidden; margin-top: 40px; border-bottom: 1px solid #f2f2f2; padding-bottom: 20px; }
.dianping-page .reviews-content>li:last-child{ border: none; }
.dianping-page .reviews-content>li .header-box{ float: left; margin: 0 13px; width: 74px; height: 74px; border-radius: 50%; box-shadow: 0px 3px 4px 0px rgba(153, 153, 153, 0.47); overflow: hidden; }
.dianping-page .reviews-content>li .header-box img{ width: 100%; height: 100%; }
.reviews-content>li .content-right{ width: 1020px; float: right; }
.content-right>h5{ float: left; font-size: 14px; color: #424242; margin-top: 12px; }
.content-right>h5 span{ padding: 0 3px; line-height: 14px; font-size: 12px; margin-top: 2px; background: #FE9B12; border-radius: 2px; float: right; margin-left: 10px; color: #fff; }
.content-right .star-box{ float: left; width: 100%; height: 19px; position: relative; margin: 14px 0; }
.content-right .star-box .noactive, .content-right .star-box .active{ position: absolute; top: 0; left: 0; }
.content-right .star-box .noactive{ width: 154px; height: 19px; background: url(../img/star1.png); }
.content-right .star-box .active{ height: 19px; background: url(../img/star2.png); }
.content-right .join-infor{ float: left; width: 100%; line-height: 24px; padding: 0 15px 0 10px; background: #f4f4f4; border-radius: 4px; box-sizing: border-box; }
.content-right .join-infor p{ float: left; margin-right: 20px; color: #454545; font-size: 14px;  }
.content-right .join-infor span{ float: right; font-size: 14px; color: #FF4800; }
.content-right .join-infor span img{ float: left; margin: 5px; }
.content-right .comment-content{ overflow: hidden; width: 1000px; text-indent: 2em; float: left; font-size: 14px; line-height: 28px; color: #4c4c4c; margin: 20px 0; }
.content-right .comment-btn{ float: left; width: 100%; font-size: 14px; color: #ccc; }
.content-right .comment-btn p{ float: left; }
.content-right .comment-btn .btn{ display: none; float: right; cursor: pointer; }
.content-right .comment-btn p span{ cursor: pointer; }
.content-right .comment-btn p a{ float: right; margin: 5px 0 0 5px; width: 0; height: 0; border-top: 7px solid #ccc; border-left: 6px solid transparent;border-right: 6px solid transparent; transform: rotate(0deg); transition: .1s; }
.content-right .comment-btn p.develop a{ transform: rotate(180deg); }
.content-right .comment-img{ float: left; width: 100%; height: auto; margin-top: 20px; }
.content-right .comment-img .small-img{ width: 100%; height: 100px; margin-bottom: 20px; }
.content-right .comment-img .small-img img{ width: 94px; height: 94px; border: 2px solid #fff; margin-right: 20px; box-sizing: border-box; cursor: url(../img/yxxm/lookbig.png), url(../img/yxxm/lookbig.cur), auto; }
.content-right .comment-img .small-img img.active{ border-color: #FE9B12; cursor: url(../img/yxxm/looksmall.png), url(../img/yxxm/looksmall.cur), auto; }
.content-right .comment-img .big-img{ text-align: center; margin-bottom: 20px; position: relative; background: #f9f9f9; width: 100%; max-height: 416px; }
.content-right .comment-img .big-img.show{ display: block; }
.content-right .comment-img .big-img.hide{ display: none; }
.content-right .comment-img .big-img img{ max-height: 416px; width: auto; cursor: url(../img/yxxm/looksmall.png), url(../img/yxxm/looksmall.cur), auto; }
.content-right .comment-img .big-img .btn{ position: absolute; cursor: pointer; color: #fff; font-size: 30px; top: 0; width: 50px; height: 100%; background: rgba(0,0,0,.2); }
.content-right .comment-img .big-img .btn p{ width: 18px; line-height: 30px; cursor: pointer; position: absolute; top: 50%; margin-top: -15px; margin-left: 16px; }
.content-right .comment-img .big-img .btn.next-btn{ right: 0; }
.content-right .comment-reply{ width: 100%; float: left; }
.content-right .comment-reply span{ float: right; margin-left: 35px; cursor: pointer; margin-bottom: 16px; font-size: 14px; color: #b5b5b5; }
.content-right .comment-reply .write-comment{ float: left; display: none; width: 100%; height: auto; margin-bottom: 20px; }
.content-right .comment-reply .write-comment textarea{ resize: none; padding: 10px; box-sizing: border-box; width: 100%; height: 120px; border: none; outline: none; background: #f9f9f9; }
.content-right .comment-reply .write-comment p{ width: 100px; height: 32px; background: #FE9B12; border-radius: 10px; line-height: 32px; text-align: center; color: #fff; font-size: 18px; cursor: pointer; }
.content-right .reply-box{ float: left; width: 100%; height: auto; }
.content-right .reply-box .title{ font-size: 18px; color: #404040; font-weight: bold; }
.content-right .reply-box>ul>li{ overflow: hidden; padding: 20px 0; border-bottom: 1px solid #f2f2f2; }
.content-right .reply-box>ul>li:last-child{ border: none; }
.content-right .reply-box>ul>li .header{ float: left; width: 74px; height: 74px; border-radius: 50%; box-shadow: 0px 3px 4px 0px rgba(153, 153, 153, 0.47); overflow: hidden; }
.content-right .reply-box>ul>li .header img{ width: 74px; height: 74px; }
.content-right .reply-box>ul>li .reply-right{ float: right; width: 930px; margin-left: 16px; line-height: 24px; }
.content-right .reply-box>ul>li .reply-right h5{ font-size: 14px; font-weight: normal; color: #424242; }
.content-right .reply-box>ul>li .reply-right p{ font-size: 14px; color: #4c4c4c; }
.content-right .reply-box>ul>li .reply-right div{ float: left; width: 100%; font-size: 14px; color: #ccc; }
.content-right .reply-box>ul>li .reply-right div p{ float: left; color: #ccc; }
.content-right .reply-box>ul>li .reply-right div span{ float: right; cursor: pointer; }
.content-right .reply-box>ul>li .replycom-box{ display: none; float: left; position: relative; width: 100%; margin-top: 10px; }
.content-right .reply-box>ul>li .replycom-box:after{ content: ''; clear: both; display: block; width: 0; height: 0; position: absolute; top: -10px; left: 140px; border-left:8px solid transparent; border-bottom:10px solid #f9f9f9; border-right:8px solid transparent; }
.content-right .reply-box>ul>li .replycom-box textarea{ resize: none; padding: 10px; box-sizing: border-box; width: 100%; border: none; outline: none; background: #f9f9f9; }
.content-right .reply-box>ul>li .replycom-box p{ float: right; width: 100px; height: 32px; background: #FE9B12; border-radius: 10px; line-height: 32px; text-align: center; color: #fff; font-size: 18px; cursor: pointer; }

.content-right .reply-box>ul>li ul{ float: right; width: 930px; font-size: 14px; margin: 10px 0; }
.content-right .reply-box>ul>li ul li{ margin: 10px 0; }
.content-right .reply-box>ul>li ul a{ color: #12C173; cursor: pointer; }
.content-right .reply-box>ul>li ul b{ cursor: pointer; font-weight: normal; }
.content-right .reply-box>ul>li .replyreply-box{ display: none; float: left; position: relative; width: 100%; margin-top: 10px; }
.content-right .reply-box>ul>li .replyreply-box textarea{ resize: none; padding: 10px; box-sizing: border-box; width: 100%; border: none; outline: none; background: #f9f9f9; }
.content-right .reply-box>ul>li .replyreply-box p{ float: right; width: 100px; height: 32px; background: #FE9B12; border-radius: 10px; line-height: 32px; text-align: center; color: #fff; font-size: 18px; cursor: pointer; }

/*问答页样式*/
.wenda-page{ width: 100%; height: auto; padding: 20px 0 40px; }
.wenda-page .write-question{ overflow: hidden; padding-bottom: 20px; position: relative; }
.wenda-page .write-question .questiontest{ width: 100%; line-height: 178px; text-align: center; position: absolute; top: 0; left: 0; background: rgba(0,0,0,.5); z-index: 6; color: #fff; }
.wenda-page .write-question .questiontest a{ color: #12C173; margin-right: 5px; }
.wenda-page .write-question .questiontest a:hover{ text-decoration: underline; }
.wenda-page .write-question .write-row{ display: flex; line-height: 50px; padding-left: 20px; box-sizing: border-box; }
.wenda-page .write-question .write-row label{ margin-right: 20px; }
.wenda-page .write-question .write-row .prompt-text{ float: left; width: 180px; font-size: 14px; color: #333; }
.wenda-page .write-question .write-row .prompt-write{ flex: 1; }
.wenda-page .write-question .write-row .prompt-write input[type=text]{ float: left; outline: none; border-radius: 3px; transition: .2s; padding: 0 10px; width: 80%; height: 40px; margin-top: 5px; box-sizing: border-box; border: none; border: 1px solid #ccc; }
.wenda-page .write-question .write-row .prompt-write input[type=text]:focus{ border-color: #12C173; }
.wenda-page .write-question p{ float: left; cursor: pointer; margin: 10px 20px; padding: 8px 20px; background: #12C173; border-radius: 4px; color: #fff; }

.wenda-page .wenda-btn{ width: 100%; height: 36px; overflow: hidden; margin-top: 20px; }
.wenda-page .wenda-btn p{ float: left; margin-right: 20px; width: 130px; line-height: 36px; background: #f2f2f2; border-radius: 4px; text-align: center; cursor: pointer; font-size: 14px; color: #6d6d6d; }
.wenda-page .wenda-btn p:hover, .wenda-page .wenda-btn p.active{ background: #fe9b12; color: #fff; }
.wenda-page ul li{ padding: 40px 0 40px; border-bottom: 1px solid #f6f6f6; }
.wenda-page ul li .question-box{ width: 100%; height: auto; overflow: hidden; margin-bottom: 15px; }
.wenda-page ul li .question-box>img { float: left; margin-right: 20px; }
.wenda-page ul li .question-box .question-right{ float: left; font-size: 14px; }
.wenda-page ul li .question-box .question-right h5{ font-size: 14px; color: #434343; line-height: 26px; }
.wenda-page ul li .question-box .question-right p{ color: #fe9b12; }
.wenda-page ul li .question-box .question-right p span{ color: #c1c1c1; margin-left: 4px; }
.wenda-page ul li .question-box .answer-btn{ float: right; font-size: 14px; cursor: pointer; color: #333; margin-right: 30px; }
.wenda-page ul li .question-box .writeAnswer{ display: none; float: left; width: 100%; padding: 0 40px; box-sizing: border-box; }
.wenda-page ul li .question-box textarea{ width: 100%; height: 80px; resize: none; border: none; border: 1px solid #ccc; padding: 10px 20px; margin-top: 20px; box-sizing: border-box; outline: none; }
.wenda-page ul li .question-box .writeAnswerBtn{ cursor: pointer; float: left; padding: 6px 20px; border-radius: 4px; margin-top: 5px; background: #12C173; color: #fff; } 
.wenda-page ul li .answer-box{ width: 100%; height: auto; overflow: hidden; }
.wenda-page ul li .answer-box>img { float: left; margin-right: 20px; }
.wenda-page ul li .answer-box .answer-right{ float: left; width: 1066px; font-size: 14px; }
.wenda-page ul li .answer-box .answer-right .answer{ overflow: hidden; border-bottom: 1px solid #f6f6f6; padding: 20px 0; }
.wenda-page ul li .answer-box .answer-right .answer:first-child{ padding-top: 0; }
.wenda-page ul li .answer-box .answer-right .answer:last-child{ border: none; padding-bottom: 0; }
.wenda-page ul li .answer-box .answer-right h5{ float: left; font-size: 14px; color: #434343; line-height: 26px; }
.wenda-page ul li .answer-box .answer-right h5 span{ color: #fff; font-size: 12px; float: right; padding: 0 3px; margin: 6px 8px; border-radius: 2px; line-height: 14px; background: #FE9B12; }
.wenda-page ul li .answer-box .answer-right .answer>span{ float: left; width: 100%; color: #c1c1c1; line-height: 28px }
.wenda-page ul li .answer-box .answer-right p{ float: left; width: 100%; color: #434343; line-height: 22px; }
.wenda-page ul li .answer-box .answer-right a{ float: left; cursor: pointer; color: #c1c1c1; line-height: 34px; }
.wenda-page ul li .showanswer{ float: left; font-size: 14px; color: #c1c1c1; margin-top: 10px; cursor: pointer; }
.wenda-page ul li .showanswer span{ float: right; cursor: pointer; width: 0; height: 0; margin: 6px; border-bottom: 7px solid #aaa; border-left: 5px solid transparent; border-right: 5px solid transparent; transform: rotate(180deg); }
.wenda-page ul li .showanswer.develop span{ transform: rotate(0deg); }


/*项目咨询模态框*/
.model-bg{ width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,.5); z-index: 9; }
.model-bg.xmzx .model-box{ width: 840px; height: 600px; border-radius: 5px; overflow: hidden; padding: 0 40px; position: absolute; top: 50%; left: 50%; margin: -300px 0 0 -460px; background: #fff; }
.xmzx .model-box span.close{ position: absolute; top: 0; right: 0; padding: 8px; background: #12C173; cursor: pointer; }
.xmzx .model-box span.close img{ float: left; }
.model-bg.xmzx .model-box h5{ font-size: 26px; color: #e68d01; text-align: center; line-height: 100px; }
.model-bg.xmzx .model-box>div{ width: 100%; height: 50px; line-height: 50px; background: #f2f2f2; margin-bottom: 10px; position: relative; }
.model-bg.xmzx .model-box>div input, .model-bg.xmzx .model-box>div textarea{ font-size: 14px; float: left; width: 740px; height: 100%; padding: 0 20px; box-sizing: border-box; line-height: 50px; border: none; background: none; outline: none; resize: none; }
.model-bg.xmzx .model-box>div input::-webkit-input-placeholder,
.model-bg.xmzx .model-box>div textarea::-webkit-input-placeholder{ color: #c5c5c5; }
.model-bg.xmzx .model-box>div.textarea-box{ height: 160px; }
.model-bg.xmzx .model-box>div span{ float: left; width: 100px; padding-left: 20px; box-sizing: border-box; font-size: 14px; color: #999; }
.model-bg.xmzx .model-box p{ width: 100%; height: 50px; border-radius: 10px; color: #fff; font-size: 20px; text-align: center; line-height: 50px; background: #09b375; margin-top: 25px; cursor: pointer; }
/*联系客服模态框*/
.model-bg.lxkf .model-box{ width: 480px; height: 400px; border-radius: 5px; padding: 0 20px; overflow: hidden; position: absolute; top: 50%; left: 50%; margin: -200px 0 0 -260px; background: url(../img/yxxm/kefu-bg.png); }
.lxkf .model-box span.close{ position: absolute; width: 44px; height: 44px; top: 67px; right: 0; cursor: pointer; }
.lxkf .zixun-btn{ width: 140px; line-height: 40px; border-radius: 5px; cursor: pointer; text-align: center; position: absolute; left: 50%; bottom: 120px; margin-left: -70px; background: #09b375; color: #fff; }
.lxkf .zixun-btn img{ position: relative; top: 5px; margin-right: 6px; }
.lxkf .kf-bottom{ width: 480px; height: 28px; position: absolute; bottom: 40px; }
.lxkf .kf-bottom p{ float: left; line-height: 28px; width: 50%; padding-left: 20px; box-sizing: border-box; }
.lxkf .kf-bottom p img{ float: left; margin-right: 8px; }
