<!DOCTYPE HTML>
<html>
<head>
	{include file="meta" /}
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 品牌管理 <span class="c-gray en">&gt;</span> {$title} <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">  <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th>ID</th>
					<th>意向品牌</th>
					<th>开店地址</th>
					<th>接收方式</th>
					<th>诊断时间</th>
				</tr>
			</thead>
			<tbody>
			{volist name="diagnose" id="vo"}
				<tr class="text-c">
					<td>{$vo.id}</td>
					<td>{$vo.pinpai}</td>
					<td>{$vo.addr}</td>
					<td>{$vo.jsfs}</td>
					<td>{$vo.time}</td>
				</tr>
			{/volist}
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">

</script>
{include file="script" /}
</body>
</html>