<!DOCTYPE HTML>
<html>
<head>
	{include file="meta" /}
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 品牌管理 <span class="c-gray en">&gt;</span> {$title} <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">  <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th>加盟时间</th>
					<th>开店城市</th>
					<th>加盟费</th>
					<th>总成本</th>
					<th>月营收</th>
					<th>评分</th>
					<th>开店状态</th>
					<th>点评内容</th>
					<th>添加时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			{volist name="dianping" id="vo"}
				<tr class="text-c">
					<td>{$vo.date}</td>
					<td>{$vo.city}</td>
					<td>{$vo.jiamengfei}</td>
					<td>{$vo.zongchengben}</td>
					<td>{$vo.yueyingshou}</td>
					<td>{$vo.pingfen}</td>
					{if condition="$vo.status eq 0"}
					<td>未开店</td>
					{/if}
					{if condition="$vo.status eq 1"}
					<td>已开店</td>
					{/if}
					{if condition="$vo.status eq 2"}
					<td>已关店</td>
					{/if}
					<td>{$vo.content}</td>
					<td>{$vo.time}</td>
					<td><a style="text-decoration:none" class="ml-5"  href="javascript:if(confirm('确实要删除该内容吗?')){location='{:url('Product/dledianping')}?id={$vo.id}'}" title="删除">删除</i></a></td>
				</tr>
			{/volist}
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	function chik(vo) {
    var html='<div class="hid" style="background-color: rgba(0,0,0,.3);width: 100%;height: 100%;position: absolute;top: 0;left: 0;"><div class="ide" style="width: 500px;height: 300px;position: fixed; left:0; top:0; right: 0;bottom:0;margin: auto;background-color:#fafafa;"><span style="float: right;margin-right: 8px;" onclick="hid()">X关闭</span><p style="margin: 8%;font-size: 16px;letter-spacing: 2px">'+vo+'</p></div></div>'
        $('#showlist').append(html);
	}
	function hid() {
        $('.hid').hide();
    }
</script>
{include file="script" /}
</body>
</html>