<!DOCTYPE html>
<html lang="en">
<head>
    {include file="meta" /}
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 管理员管理
    <span class="c-gray en">&gt;</span> {$title}
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" href="{:url('user/user_node_set')}"><i class="Hui-iconfont">&#xe600;</i> 添加菜单(节点)</a></span>
        <span class="r">共有数据：<strong>{$count}</strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-bg table-hover table-sort">
        <thead>
        <tr class="text-c">
            <th width="30">排序</th>
            <th width="30">ID</th>
            <th>菜单名称</th>
            <th width="100">类型</th>
            <th width="100">状态</th>
            <th width="100">显示</th>
            <th width="130">管理操作</th>
        </tr>
        </thead>
        <tbody>
        {$html_tree}
        </tbody>
    </table>
</div>
{include file="script" /}
</body>
</html>