<!DOCTYPE html>
<html lang="en">
<head>
    {include file="meta" /}
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 文章管理
    <span class="c-gray en">&gt;</span> {$title}
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" href="{:url('story/story_set')}"><i class="Hui-iconfont">&#xe600;</i> 添加故事</a>
        </span>
    </div>
    <table class="table table-border table-bordered table-bg table-hover table-sort">
        <thead>
        <tr class="text-c">
            <th width="50">ID</th>
            <th>标题</th>
            <th width="80">图片</th>
            <th>导师</th>
            <th width="80">阅读次数</th>
            <th width="100">创建日期</th>
            <th width="60">管理操作</th>
        </tr>
        </thead>
        {foreach $list as $key=>$item }
        <tbody>
        <tr>
            <td class="center">{$item.id}</td>
            <td class="center">{$item.title}</td>
            <td class="center"><img src="{$item.banner}" width="100" height="50"></td>
            <td class="center">{$item.daoshiid}</td>
            <td class="center">{$item.read_num}</td>
            <td class="center">{$item.time}</td>
            <td class="center">
                <a class="href-a" href="{:url('story/story_set','id='.$item.id)}" title="编辑">编辑</a>&nbsp;|
                <a class="href-a" href="javascript:;" title="删除" onclick="confirm_del('{:url(\"story/story_del?id=\".$item.id)}')">删除</a>
            </td>
        </tr>
        </tbody>
        {/foreach}
    </table>
    {$page}
</div>
{include file="script" /}
</body>
</html>