<!DOCTYPE html>
<html lang="en">
<head>
    {include file="meta"}
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 文章管理
    <span class="c-gray en">&gt;</span> {$title}
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-set" method="post" action="{:url('comment/comment_post?id='.$id)}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>发表用户uid：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{if $info} {$info.uid1} {/if}" placeholder="" id="uid1" name="uid1">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>回复用户uid：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{if $info} {$info.uid2} {/if}" placeholder="" id="uid2" name="uid2">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>评论目标id：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{if $info} {$info.mid} {/if}" placeholder="" id="mid" name="mid">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">目标类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width:150px;">
                    <select class="select" name="mkind" size="1">
                        <option value="1" {if $info && $info.mkind == 1} selected {/if}>点评</option>
                        <option value="2" {if $info && $info.mkind == 2} selected {/if}>故事</option>
                        <option value="3" {if $info && $info.mkind == 3} selected {/if}>帖子</option>
                        <option value="4" {if $info && $info.mkind == 4} selected {/if}>严选</option>
                    </select>
			    </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">关联gid：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{if $info} {$info.gid} {/if}" placeholder="" name="gid">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">评论内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div id="we">
                    {$info.content}
                </div>
                <textarea id="content" name="content" style="width:100%; height:200px;display: none;"></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">关联的标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{if $info} {$info.mtitle} {/if}" placeholder="" name="mtitle">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">目标发布id：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{if $info} {$info.muid} {/if}" placeholder="" name="muid">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">发布者昵称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{if $info} {$info.muname} {/if}" placeholder="" name="muname">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">精彩评论：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="jingcaipinglun" type="radio" id="jingcaipinglun-1" value="1" {if $info && $info.jingcaipinglun ==1 } checked {/if}>
                    <label for="jingcaipinglun-1">是</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="jingcaipinglun-2" value="0" {if $info && $info.jingcaipinglun ==0 } checked {/if} name="jingcaipinglun">
                    <label for="jingcaipinglun-2">否</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">delete_status：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="delete_status" type="radio" id="delete_status-1" value="1" {if $info && $info.delete_status ==1 } checked {/if}>
                    <label for="delete_status-1">正常</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="delete_status-2" value="0" {if $info && $info.delete_status ==2 } checked {/if} name="delete_status">
                    <label for="delete_status-2">删除</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input class="btn btn-primary radius" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" type="submit">
                <button onClick="window.history.go(-1);" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
{include file="script" /}
<script type="text/javascript" src="__STATIC__/Admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/Admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/Admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="__STATIC__/Admin/lib/wangueditor/3.1.1/wangEditor.js"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        $.wEditor({eid:'#we', cid:'#content',imgUrl: "{:url('tutor/tutorUpload')}",path:cdn,filename:'filedata'});
    });
</script>
</body>
</html>