<!DOCTYPE html>
<html lang="en">
<head>
    {include file="meta" /}
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 轮播图
    <span class="c-gray en">&gt;</span> {$title}
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a class="btn btn-primary radius" href="{:url('turnimg/turnimg_set')}"><i class="Hui-iconfont">&#xe600;</i> 添加轮播图</a></span>
        
    </div>
    <table class="table table-border table-bordered table-bg table-hover table-sort">
        <thead>
        <tr class="text-c">
            <th width="80">ID</th>
            <th width="100">图片路径</th>
            <th width="100">所属页面</th>
            <th width="100">页面类型</th>
            <th width="100">是否显示</th>
            <th width="80">管理操作</th>
        </tr>
        </thead>
        {foreach $turnimg as $key=>$item }
        <tbody>
        <tr>
            <td class="center">{$item.id}</td>
            <td class="center">
                {if !is_array($item.src)}
                <img src="{$item.src}" style="width: 150px;height: 100px">
                {else/}
                {foreach $item.src as $key=>$v}
                <img src="{$v}" style="width: 75px;height: 50px">
                {/foreach}
                {/if}
            </td>
            <td class="center">{$item.page}</td>
            <td class="center">{if $item.pagecode==1}首页{elseif $item.pagecode==2/}创业导师{else/}诊断{/if}</td>
         	<td class="center"><span style="width:30px;cursor:pointer" onclick="statusClick()" class="label radius {if $item.status==1} label-success">是{else/}label-danger">否{/if}</span></td>
            <td class="center">
                <a class="href-a" href="{:url('turnimg/turnimg_set','id='.$item.id)}" title="编辑">编辑</a>&nbsp;|
                <a class="href-a" href="javascript:if(confirm('确实要删除该内容吗?')){location='{:url('turnimg/delTurnimg')}?id={$item.id}'}" title="删除">删除</a>
            </td>
        </tr>
        </tbody>
        {/foreach}
    </table>
</div>
{include file="script" /}
</body>
</html>